version: "3.9"
services:
  web:
    build: .
    volumes:
      - ./:/app:cached
    ports:
      - "8080:8080"
    environment: 
      - NODE_ENV=dev
    depends_on:
      - redis
  redis:
    image: "redis:alpine"
    ports: 
      - 6379:6379
  watch:
    image: node:alpine
    volumes:
      - ./:/app:cached
    working_dir: /app
    depends_on:
      - redis
    ports:
      - "8080:8080"
    hostname: localhost
    container_name: watch
    command: npm run start
